body{
  margin: 0;
  text-align: center;
 font-family: 'Merriweather', serif;
}

.topConeiner{
  padding: 100px 0;
  margin: 0;
background-color: #E8F9FD;
display: flex;

/* height: 200px;
width: 200px */
}
/* .midelConeiner{
  background-color: red;
  height: 200px;
  width: 200px
}
.bottomConeiner{
  background-color: green;
  height: 200px;
  width: 200px
}*/
.middle-container{
  margin: 100px 0;
}
.intro{
  width: 30%;
  margin: auto;
}
hr{
  border-top: 10px;
  border-style: dotted;
  width: 4%;
  border-color: #EAF6F6;
  margin: 100px auto;
}
h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*562.5%; */
  /* line-height: 2 */

}
h2{
  color: #66BFBF;
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  /* text-align: left; */
}
p{
  line-height: 2;
  font-weight: bold;
  color: #40514E;
}
.topConeiner {
position: relative;
  display: block;
  margin: 0;
    /* font-family: monospace;
    text-decoration: underline; */

    font-size: 20px;
  }
  /* p{
     display: inline-block;
  } */
  .pro{
    text-decoration: underline;
  }

  .topCloud{
    position: absolute;
    right: 300px;
    top: 50px;

    /* margin-left: 380px; */
  }
/* .mountain{
  position: relative;
} */

.bottomCloud{
  position: absolute;
  margin: 0;
  left: 300px;
  bottom: 300px;
}

.avatar{
  width: 15%;
  border-radius: 50%;

}
.skills-pic-down{
  width: 25%;
  border-radius: 50%;
  float: left;
}
.skills-pic-up{
  width: 25%;
  border-radius: 50%;
  float: right;
}
/* .skils-text{
 display: inline-block;
align-self: center;
  text-align: left;
  width: 70%;
  margin-left: 30px;
  } */
.skills{
  /* display: inline-block; */
  /* align-items: center; */
  width: 100%;
}
.skill-row{
  text-align: left;
  /* display: inline-block; */
  width: 50%;
  margin: 100px auto 100px auto;

}

a:-webkit-any-link {
    color: #EAF6F6;
    cursor: pointer;
    text-decoration: none;
}
a:-webkit-any-link:active {
  color: orange;
}
a:visited {
  color: blue;
  text-decoration: none;
  cursor: auto;
}
a:hover{
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2bc4ad;
  background-image: -webkit-linear-gradient(top, #2bc4ad, #2bc4ad);
  background-image: -moz-linear-gradient(top, #2bc4ad, #2bc4ad);
  background-image: -ms-linear-gradient(top, #2bc4ad, #2bc4ad);
  background-image: -o-linear-gradient(top, #2bc4ad, #2bc4ad);
  background-image: linear-gradient(to bottom, #2bc4ad, #2bc4ad);
  text-decoration: none;
}
/* .btn{
  text-decoration: none;
  color: #EAF6F6;
  border-radius: 8px;
  background-color: linear-gradient(#11cdd4, #11999e);
  padding: 10px 20px 10px 20px;
  border-color: #66BFBF;
  border: 10px;
} */
.bottom-container{
  margin-top: 80px;
  background-color: #66BFBF;
  padding: 40px;
}
/* .bottom-container a{
  margin: 30px;
} */
.footer-link{
  margin: 30px;

  font-family:'Montserrat', sans-serif;
}
.signature{
  margin-top: 40px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
